.git
.settings
.eunit
.idea
.dialyzer.plt
.rebar
.rebar3

*.iml
*.beam
*.pyc

test/eunit_results
test/dialyzer_results
test/codetag_tracker_results

doc
logs

package/
_build
compile_commands.json
rel/files/vm.args
ebin
